{% extends "base.html" %}

{% load static %}

{% block head %}

<form id="cal-form" style="display:none">
    {{form}}
    {% csrf_token %}
</form>

<link rel="stylesheet" href="{% static "utility.css"%}">
<link rel="stylesheet" href="{% static "CSS/calibration.css"%}"> 
<title>Module | Calibration</title>
{% endblock %}

{% block body %}
<!-- Navbar -->
<div id="navbar" class="navbar-container">
    <div class="navbar-logo">
        <img id="logo" height="48" width="48" alt="" src="{% static "navbarico.svg" %}"></img>
        Force Module
        </div>
    <div class="tabs">
        <nav>
            <ul>
                <li><a id="Login" class="inactive" href="#">Login</a></li>
                <li><a id="Calibration" class="active" href="#">Calibration</a></li>
                <li><a id="Warm-Up" class="inactive" href="#">Warm-Up</a></li>
                <li><a id="Instruction" class="inactive" href="#">Instruction</a></li>
                <li><a id="Final" class="inactive" href="#">Final</a></li>        
            </ul>
        </nav>
    </div>
</div>

<div id="starting-message">
    <div>
        <h1>
            <center>In this section you will calibrate the "eye-tracking" by clicking on some red squares as they appear on the screen. This will help determine where you are looking on the screen</center>
        </h1>
    </div>
    <div>
        <center><button class="btn primary reduced-vis" id="btn1">Continue</button>
    </div>
    
</div>
<div class="box-column" id="array1">
    <div class="box-row">
        <div id="box11" class="box"></div>
        <div id="box12" class="box"></div>
        <div id="box13" class="box"></div>
    </div>
    <div class="box-row">
        <div id="box21" class="box"></div>
        <div id="box22" class="box"></div>
        <div id="box23" class="box"></div>
    </div>
    <div class="box-row">
        <div id="box31" class="box"></div>
        <div id="box32" class="box"></div>
        <div id="box33" class="box"></div>
    </div>
</div>

<div class="box-column" id="array2">
    <div class="box-row">
        <div id="box112" class="box"></div>
        <div id="box122" class="box"></div>
        <div id="box132" class="box"></div>
    </div>
    <div class="box-row">
        <div id="box212" class="box"></div>
        <div id="box222" class="box"></div>
        <div id="box232" class="box"></div>
    </div>
    <div class="box-row">
        <div id="box312" class="box"></div>
        <div id="box322" class="box"></div>
        <div id="box332" class="box"></div>
    </div>
</div>
<div id="click-end">
    <div>
        <center><h1>Calibration has ended, you will now be redirected to the module</h1></center>
    </div>
    <div>
        <center><button class="btn primary reduced-vis" id="btn2">Continue</button>
    </div>
</div>
<script src="{% static "JS/calibration.js"%}"></script>
{% endblock %}
